<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.AccountDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.entity.Account">
        <result column="id"  property="id" />
        <result column="name"  property="accountName" />
        <result column="user_id"  property="userId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name
    </sql>

    <select id="findAllAccount"  resultMap="BaseResultMap">
          select
          <include refid="Base_Column_List"/>
          from  account
    </select>

    <select id="findAccountByName"  resultMap="BaseResultMap"  parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from  account
        where  name = #{accountName}
    </select>

</mapper>